body {
    background-color: pink;
}

.ultimateQuestion {
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
    font-size: larger;
}

.questionGif {
    border-radius: 10px;
}

#yesButton {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 25px 50px;
    display: inline-block;
    position: relative;
    font-size: larger;
}

#noButton {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 25px 50px;
    display: inline-block;
    position: relative;
    font-size: larger;

}