body {
  font-family: sans-serif;
  background-color: skyblue;
}

.headerText {
  list-style: none;
  font-size: 50px;
}

.navbar {
  transition: top 0.5s;
}

.headerImg {
  height: 100vh;
}

.column {
  float: left;
  width: 30%;
  text-align: center;
  background-color: green;
  height: 350px;
  margin-left: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: Both;
}

.btnNav {
  padding: 10px;
  background-color: #87CEEB;
  font-size: large;
  border-radius: 5px;
}

.headshot {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 200px;
  width: 400px;
  height: 400px;
}

.column img {
  display: block;
  margin: auto;
  padding: 0;
  width: 318px;
  height: 213px;
}

.card-title {
  font-size: 50px;
}

.bio {
  font-size: 20px;
}

.img-thumbnail {
  background-color: skyblue;
  border: none;
  border-radius: 10px;
}